<div class="homeContainer container-fluid">
    <div class="headerRow row">
        <div class="col-12 text-center">
            <h1 class="title">MerryBrew</h1>
            <img ng-src="images/LogoImage.png" class="HeaderImage">
        </div>
        <div id="sideNav" class="sideNav" ng-cloak>
            <div class="sideNavHeader sideNavHeaderCocktailDetails">
                <div>
                    <button class="btn sideNavCloseButton" ng-click="closeNav()"><i
                            class="fas fa-times fa-3x"></i></button>
                </div>
                <img ng-src="images/LogoImage.png" class="sideNavImage">
            </div>
            <div class="sideNavContent">
                <a href="#!Home">
                    <div class="row">
                        <div class="col-2 sidenavContentSectionContainer">
                            <i class="fas fa-glass-martini-alt fa-2x"></i>
                        </div>
                        <h2>Search Cocktails</h2>
                    </div>
                </a>
                <a href="#!Favourites">
                    <div class="row">
                        <div class="col-2 sidenavContentSectionContainer">
                            <i class="fas fa-star fa-2x"></i>
                        </div>
                        <h2>Favourites</h2>
                    </div>
                </a>
                <div class="row logout" ng-controller="logoutController" ng-click="logout()">
                    <div class="col-2 sidenavContentSectionContainer">
                        <i class="fas fa-sign-out-alt fa-2x"></i>
                    </div>
                    <h2>Log Out</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button class="btn" ng-click="openNav()"><i class="fas fa-align-justify fa-3x"></i></button>
            </div>
        </div>
    </div>
    <h2 class="text-center favouritesHeader"><strong>Your Favourites!</strong></h2>
    <div class="row">
        <div class="col-sm-5 col-lg-2 cocktailResultsContainer" ng-repeat="favourite in favourites">
            <a href="#!CocktailDetails" ng-click="selectedCocktail($index)">
                <h3 class="text-center cocktailHeader"><strong>{{favourite.cocktailName}}</strong></h3>
                <img ng-src="{{favourite.cocktailImage}}" alt="Cocktail image" class="cocktailImageSearchResult">
            </a>
            <button class="btn deleteFavouriteButton" ng-click="deleteFavourites($index)"><i
                    class="fas fa-times fa-4x deleteFavouriteIcon"></i></button>
        </div>
    </div>
</div>